{% extends 'main.html'%} {% block content %}
<h1>All Projects</h1>

<!-- render data-->
<p>Lets See what page you are on: {{page}} page</p>

<!-- logic -->
{% if number > 10 %}
<p>NUmber is greater than ten guys</p>
{% else %}
<p>Number is less than or equal to ten</p>
{% endif %}

<!--  -->
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolores vitae
  aliquam dignissimos dolorem dolore quas voluptates aliquid molestias vel
  magnam, laboriosam rem cupiditate. Dicta aspernatur ducimus atque? Eveniet,
  dolores.
</p>
<hr />
<h1>Projects</h1>
<ul>
  {% for project in projects %}
  <li>
    Title:
    <a href="{% url 'project' project.id %}">{{project.title}} ---</a>
    {{project.description}}
  </li>

  {% endfor %}
</ul>

{% endblock content %}
